body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.product {
    border: 1px solid black;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: green;
}
